@charset "ISO-8859-1";

*{

	margin: 0px;
	padding: 0px;
	
}

body{
	background-color:#108CCC; 
	color:#ffffff;
	/*background-color:#7092be;*/
	color:white;
	
}

/* Elementos de index.jsp */
/* Cabecera de index */
#divCabecera{
	position: relative;
	width:100%;
	/*background-color: red;*/
	color: white;
}

#divFoto{
	float:left;
	width:30%;
	/*background-color: blue;*/
	
}

#divManejaFecha{
	position: absolute;
	float:right;
	left:40%;
	width:60%; 
	height: 160px;
	top:25px;
	
}

#divContInf{
	
}
#divMenu{
	clear:both;
	float:left;
	width: 180px;
}

#divBtnInicio{
	width: 150px;
	height: 30px;
	background-color: yellow;
}

#divBtnagregarViaje{
	background-color: yellow;
}

#divContenido{
	float:left;
	left:40px;
	
}

#tblManejaFecha{
	border: solid 2px #cccccc;
	
	
	
}

#divInicio{
	/*background-color: red;*/
	color: white;
	width: 130px;
	height: 30px;
}


/* AgregarViajes */

.lblFecha{
	font-size: 12px;
}
.lblMontoVerde{
	font-weight: bold;
	color:#8bff6b;
}
.lblMontoRojo{
	font-weight: bold;
	color:#e82c71;
}
.fila{
	color:white;
}
#divGeneralAgrega{
	float:left;
	width:40%;
	/*background-color: green;*/
}

#divDatosTarjeta{
	float:right;
	width:60%;
	/*background-color: red;*/
}
#colNumTar{
	width: 100%;
	/*background-color: blue;*/
}

