@charset "ISO-8859-1";

*{

	margin: 0px;
	padding: 0px;
	
}

body{
	/*background-color:#108CCC;*/ 
	color:#ffffff;
	background-color:#7092be;
	color:white;
	
}
/*Elementos Genericos (class)*/
.caja2px{
	border: white solid 2px;
}

.clsDivBoton{
	margin-top:15px;
	height: 20px !important;
	width: 130px !important;
	border: white solid 2px;
	border-radius : 10px;
	
	text-align: center;
}

.clsLblBoton{
	font: arial;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    display:inline-block;
}

/* Elementos de index.jsp */
/* Cabecera de index */
#divCabecera{
	width:100%;
	/*background-color: red;*/
	color: white;
	position:fixed;
	background-color:#7092be;
}

#divFoto{
	float:left;
	width:30%;
	/*background-color: blue;*/
	
}

#divManejaFecha{
	position: absolute;
	float:right;
	left:40%;
	width:60%; 
	height: 160px;
	top:25px;
	
}

#divBienvenidoUsuario{
	position: absolute;
	right: 20px;
	bottom: 10px;
}

/*Divisor de cabecera*/
#divLinita{
	border-top: solid thick white;
	margin-left:150px;
	margin-top:150px;
	width: 100%;
	position:fixed;
}
/*Menu Lateral Izquierdo*/
#divMenu{
	position:fixed;
	margin-top:150px;
	border-right: thick white solid;
	
	clear:both;
	float:left;
	width: 150px;
}
/*Botones*/
#divBtnAvanzar{
	margin-left: 23%;
}

#lblBotonInicio{
	font: arial;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    display:inline-block;
}

#divBtnInicio{
	width: 150px;
	height: 50px;
}

#divBtnAgregarViaje{
	width: 150px;
	height: 50px;
}

#divBtnConsultarMovimientos{
	width: 150px;
	height: 50px;
}

#divBtnCargarSaldo{
	width: 150px;
	height: 50px;
}
#divBtnEstadisticas{
	width: 150px;
	height: 50px;
}
#divBtnDatos{
	width: 150px;
	height: 50px;
}


/*Contenido*/
#divContenido{
	margin-top:160px;
	float:right;
	width: 80%;
	
	
}
#tblManejaFecha{
	margin-top : -15px;
	border: solid 2px white;
	align-items: center;
	
	
}
/*Inicio*/
#divInicio{
	/*background-color: red;*/
	color: white;
	
}
#divIniciarSesion{
	border: solid white 2px;
	margin-top:30px;
	width: 60%;
	height: 300px !important;
	margin: 0px;
	float: left;
}

#divLogginPic{
	border: white solid 2px;
	width:120px;
	height:120px;
	float: left;
	margin-top:5%;
}

#divLoggin{
	margin-top:5%;
	margin-left:10%;
	width: 50%;
	float: left;
}
#divEstadoLoggin{
	clear:both;
	margin-left:10%;
}

#divBotonInicio{
	margin-top:15px;
	height: 20px !important;
	width: 130px !important;
	border: white solid 2px;
	border-radius : 10px;
	
	text-align: center;
	
}

/* AgregarViajes */

.lblFecha{
	font-size: 12px;
}
.lblMontoVerde{
	font-weight: bold;
	color:#8bff6b;
}
.lblMontoRojo{
	font-weight: bold;
	color:#e82c71;
}
.fila{
	color:white;
}


.selText{
	width: 300px;
}

.selTextSmall{
	width: 200px;
}
#divGeneralAgrega{
	float:left;
	width:45%;
	/*background-color: green;*/
}

#divDatosTarjeta{
	float:right;
	width:55%;
	/*background-color: red;*/
}
#colNumTar{
	width: 100%;
	/*background-color: blue;*/
}

#divEstadoBoleto{
	width: 60%;
}
#divEstadoBoletoInf{
	border: white solid 2px;
	margin-top: 20px;
	display:flex;
    justify-content: space-between;
    text-align: center;
}

#divMostrarBoleto1{
	float:left;
	width:45%;
	
}
#divMostrarBoleto2{
	float:left;
	width:45%;
}	


/*Elementos del Boleto Previsualizado*/
#lblAgregar{
	font: arial;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    display:inline-block;
}
#divBoton{
	margin-top:15px;
	height: 20px !important;
	width: 130px !important;
	border: white solid 2px;
	border-radius : 10px;
	
	text-align: center;
	
}
#divBtnSaldoE{
	margin-top:15px;
	width: 130px !important;
	border: white solid 2px;
	border-radius : 10px;
	
	text-align: center;
	
}


/*Estadisticas*/
canvas{

  width:90% !important;
  height:90% !important;

}
#divContEYR{
	
}
#divContReportes{
	float:left;
	width: 45%;
}
#divContEstadisticas{
	position: fixed;
	margin-left:40%;
	margin-top:50px;
	float:left;
	width: 350px !important;
	height: 350px !important;
	
}

/*Reportes*/
.clsFilaPar{
	clear:both;
}
.clsFilaImpar{
	clear:both;
	overflow: hidden;
	background-color: #436594;
}
.clsColFecha{
	
	margin:0px;
	float: left;
	width: 40%;
}
.clsColNumTarjeta{
	margin-left:10px;
	float: left;
	width: 25%;
}
.clsColMonto{
	
	margin-left:10px;
	float: left;
	width: 25%;
}

.clsColFecha2{
	
	margin:0px;
	float: left;
	width: 20%;
}
.clsColNumTarjeta2{
	margin-left:11px;
	float: left;
	width: 10%;
}
.clsColTramo{
	margin-left:10px;
	float: left;
	width: 43%;
}
.clsColMonto2{
	margin-left:10px;
	float: left;
	width: 10%;
}

/*Datos*/

#divSupDatos{
	height: 150px;
}
.divInfDatos{
	height: 150px;
}
#divTarjetaDatos{
	height: 100px;
}
#colTarjetaDatos{
	width: 50%;
	float: left;
}

.colDatosA{
	width: 50%;
	float: left;
}
.colDatosB{
	width: 50%;
	float: left;
}