@charset "ISO-8859-1";

*{

	margin: 0px;
	padding: 0px;
	
}

body{
	/*background-color:#108CCC;*/ 
	color:#ffffff;
	background-color:#7092be;
	color:white;
	
}

/* Elementos de index.jsp */
/* Cabecera de index */
#divCabecera{
	width:100%;
	/*background-color: red;*/
	color: white;
	position:fixed;
	background-color:#7092be;
}

#divFoto{
	float:left;
	width:30%;
	/*background-color: blue;*/
	
}

#divManejaFecha{
	position: absolute;
	float:right;
	left:40%;
	width:60%; 
	height: 160px;
	top:25px;
	
}
/*Divisor de cabecera*/
#divLinita{
	border-top: solid thick white;
	margin-left:150px;
	margin-top:150px;
	width: 100%;
	position:fixed;
}
/*Menu Lateral Izquierdo*/
#divMenu{
	position:fixed;
	margin-top:150px;
	border-right: thick white solid;
	
	clear:both;
	float:left;
	width: 150px;
}
/*Botones*/
#divBtnInicio{
	width: 150px;
	height: 30px;
}

#divBtnAgregarViaje{
	width: 150px;
	height: 30px;
}

#divBtnConsultarMovimientos{
	width: 150px;
	height: 30px;
}

#divBtnCargarSaldoEstudiantil{
	width: 150px;
	height: 30px;
}

/*Contenido*/
#divContenido{
	margin-top:160px;
	float:right;
	width: 80%;
	
	
}
#tblManejaFecha{
	border: solid 2px #cccccc;
	
	
	
}

#divInicio{
	/*background-color: red;*/
	color: white;
	
}


/* AgregarViajes */

.lblFecha{
	font-size: 12px;
}
.lblMontoVerde{
	font-weight: bold;
	color:#8bff6b;
}
.lblMontoRojo{
	font-weight: bold;
	color:#e82c71;
}
.fila{
	color:white;
}
#divGeneralAgrega{
	float:left;
	width:40%;
	/*background-color: green;*/
}

#divDatosTarjeta{
	float:right;
	width:60%;
	/*background-color: red;*/
}
#colNumTar{
	width: 100%;
	/*background-color: blue;*/
}

